.cache/
user.d/
site-*.d/
url/
transient/
mssql/
snippets/
tutorial/

.cask
*~
session.*
elpa
tramp
.lsp-session-v1
ac-comphist.dat
*.elc
*.el_
custom.el
site-install.el
.dap-breakpoints
.#ido.last
ido.last
.lsp-eslint-choices
